.svgMap {
  transform-origin: center 0;
  position: absolute;
  background-position: 0% 0%;

  background-size: auto 100%;
  object-fit: contain;
  margin-top: auto;
  z-index: 1;

  background-repeat: no-repeat;
  background-size: auto;

  .regions{

    overflow: visible;
    position: absolute;
    cursor: pointer;
    &.active{
       path{
          stroke: red;
        }
    }
    &:hover {
      .aboutSvg {
        display:block;
      }
    }
    .aboutSvg {
      display: none;
      border: 2px solid gray;
      border-radius: 10px;
      background: #ffffff;
      box-shadow: 3px 4px 7px #606060;
      width: 250px;
      height: 100px;
      text-align: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 47px;
      overflow: visible;

    }
  }
}
