@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.map {
  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 60px auto auto;
  width: 90vw;
  height: 90vh;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .mapControls {
    z-index: 100;
    position: fixed;
    right: calc(5vw + 6px);
    top: 66px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 154px;
    .floorButtonsBox {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      width: 154px;
      height: 60px;
      border-radius: 20px;
      overflow: hidden;
      margin-bottom: 30px;
      .buttonsItem {
        order: 0;
        text-align: center;
        &.active {
          background-color: rgb(183, 223, 250);
        }
      }
    }
    .zoomButtonsBox {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 20px;
      overflow: hidden;
      margin-bottom: 30px;
      width: 50px;
      height: 122px;
      .buttonsItem {
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 2px 0px;
      }
    }
    .resetButtonBox {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 20px;
      overflow: hidden;
      margin-bottom: 30px;
      width: 50px;
      height: 60px;
      display: flex;
      padding: 0px;
      .buttonsItem {
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 2px 0px;
      }
    }
    .regionsList {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 270px;
      margin-bottom: 30px;
      .regionsListItem {
        padding: 10px;
        width: 270px;
        border: none;

        margin: 2px 0px;
        background: #d9d9d9;
        border-radius: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 47px;
        /* identical to box height */
        cursor: pointer;
        color: #000000;
        &:hover {
          background-color: #c2c2c2;
        }
      }
    }
  }
  .svgMap {
    transform-origin: 0 0;
    position: absolute;
    background-position: 0% 0%;
    min-width: 1236px;
    min-height: 3027px;
    width: 1236px;
    height: 100%;
    background-size: auto 100%;
    object-fit: contain;
    margin-top: auto;
    z-index: 1;
    background: url("../../img/1floor.svg");
    background-repeat: no-repeat;
    background-size: auto;

    // временно
    svg {
      position: relative;
      top: 1255px;
      left: 89px;
      cursor: pointer;
      &:hover {
        .aboutSvg {
          display: flex;
          border: 2px solid gray;
          border-radius: 10px;
          background: #ffffff;
          box-shadow: 3px 4px 7px #606060;
          width: 250px;
          height: 100px;
          padding: 20px 5px;
          text-align: center;
          align-items: center;
          font-family: Roboto;
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          line-height: 47px;
        }
      }
      .aboutSvg {
        display: none;
      }
    }
  }
}

.buttonsItem {
  border: none;
  height: 60px;
  width: 50px;
  flex: none;

  flex-grow: 0;
  margin: 0px 2px;
  background: #d9d9d9;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  cursor: pointer;
  color: #000000;
  &:hover {
    background-color: #c2c2c2;
  }
}
